<div class="main-container">
    <div class="header">Success!</div>
    <div class="success-info">
        Please check your email for details and confirmation receipt.<br />
        Thank you!
    </div>
</div>